.noAble{
    pointer-events:none;
}

.refField {
    width: 205px;
    pointer-events:none;
}

.labelSum {
    width: 570px;
    white-space: nowrap;
    margin-Left: 150px ;
}

.btnSave {
    float: right;
    width: 205px;
}

.btnDel{
    width: 205px;
    margin-Top: 20px;
}