.protocol_header{
    padding-top: 15px;
    text-align: center;
}
.protocol_table_div{
    color: red;
}
.table{
    border: 1px solid black;
    border-collapse: collapse;
    width: 100vw; /* Ширина таблицы – 100% от экрана пользователя */
    max-width: 1200px; /* Ограничение ширины таблицы - не более 1200px*/
    margin: 2rem auto;
    margin-top: 10px;
}

.table th, table td {
    border: 1px solid rgb(78,71,67);
    padding: 8px;
    text-align: center;
    vertical-align: middle;
    font-size: x-small;
}


.statistics{
}