.two_great_elements {
  padding-top: 76px; 
/* чтобы лого не наползало на контент */
  display: flex;
}

.sidebar{
}

.content{
  overflow-y: scroll;
  height: 100vh;
  flex-grow: 1;
  min-width: 0;
  padding-bottom: 5%;
  /* чтобы не терялся контент снизу */
}

.app{
  background-image: url("/public/back.png");
  
}

body {
  height: 100%;
  overflow-y: hidden;
  margin: 0;
}
